:root {
        /* --- Primary colors --- */
    --blue-400: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

        /* --- Neutral colors --- */
    --blue-700: hsl(217, 54%, 11%); /* (main BG) */
    --blue-600: hsl(216, 50%, 16%); /* (card BG) */
    --blue-500: hsl(215, 32%, 27%); /* (line) */
    --White: hsl(0, 0%, 100%);

}
html {
    box-sizing: border-box;
    font-size: 18px;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body {
    font-family: 'Outfit', sans-serif;
}


/* --- Footer --- */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}